.header {
  padding: 2rem 5rem 2rem 5rem ;
  min-height:  15rem;
  width: 100%;
  color: black;
  background-color: #84bd00;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}

.header-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 5rem;
  font-weight: bold;
}

.header-info{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-style: italic;
  flex: 0 0 50%;
}

.header-message{
  padding-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-weight: bolder;
  font-size: 3rem;
}